<article id="home-wrap">
  <section id="women" class="pull-left col-xs-6 padding-zero">
    <img src="/images/women.jpg">
    <div class="trans-layer">
      <div class="text-center">
        <p class="home-text">
          One stop <del>shop</del> lookbook store that can fix your thirst to look the best!
          <br /> Click below to start.
        </p>
      </div>
      <p class="home-btn-wrap">
        <a href="#/women" class="btn col-white">WOMEN &gt;</a>
      </p>
    </div>
  </section>
  <section id="men" class="pull-right col-xs-6 padding-zero">
    <img src="/images/men.jpg">
    <div class="trans-layer">
      <div class="text-center">
        <p class="home-text">
          One stop <del>shop</del> lookbook store that can fix your thirst to look the best!
          <br /> Click below to start.
        </p>
      </div>
      <p class="home-btn-wrap">
        <a href="#/men" class="btn col-white">MEN &gt;</a>
      </p>
    </div>
  </section>
</article>