<div class="scrollable" data-ng-controller="menuController">
  <input type="search" placeholder="Search Styletag" class="lb-search" />
  <a class="lb-search fa fa-search"></a> 
  <div class="scrollable-content">
    <div class="nav-header text-uppercase">
      SHOP BY CATEGORY
    </div>
    <div class="list-group">
      <a class="list-group-item text-uppercase home-nav" href="#/home"><i class="fa fa-home"></i></a>
      <div data-ng-repeat="menu in menuItems">
        <a class="list-group-item text-uppercase" href="#{{ menu.link }}" data-ng-click="subShow = !subShow">{{menu.name}} <i ng-class="{ 'display-inline-block' : menu.sub_menu, 'display-none' : !menu.sub_menu }" class="fa fa-chevron-right pull-right"></i></a>
        <div ng-show="subShow" data-ng-repeat="sub in menu.sub_menu">
          <a href="#{{ sub.link }}" class="list-group-item-info list-group-item text-capitalize">{{ sub.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
