<article id="women-wear" style="padding-top:5%">
  <section id="wrap-women-wear">
    <div style="width: 296px;margin: auto;">
      <p class="buttons-wrap pull-left" style="padding:10px;">
        <a href="#/women-party" class="btn btn-dark col-black" style="width: 114px;">PARTY WEAR &gt;</a>
      </p>
      <p class="buttons-wrap pull-left" style="padding:10px;">
        <a href="#/women-casual" class="btn btn-dark col-black">CASUAL WEAR &gt;</a>
      </p>
      <p class="buttons-wrap">
        <a href="#/women-casual">&lt; back home</a>
      </p>
    </div>
    <hr>
    <ul style="list-style-type:none;">
      <li class="col-xs-3">
        <img src="/images/women/work-1.jpg" alt="work wear 1" border="0" width="236" height="333" orgWidth="236" orgHeight="333" usemap="#image-maps-1" alt=""/>
        <map name="image-maps-1" id="ImageMapsCom-image-maps-1">
          <area id="1" alt="White shirt" title="White shirt" href="http://www.jabong.com/only-Off-White-Solid-Shirt-1187113.html?pos=2" shape="rect" coords="88,45,159,148" style="outline:none;" target="_blank" title="My Tooltip!" ng-attr-data-toggle="tooltip" ng-attr-data-position="top" tooltip />
          <area id="2" alt="black trousers" title="black trousers" href="http://www.jabong.com/la-rochelle-Black-Solid-Trouser-687438.html" shape="rect" coords="70,147,172,299" style="outline:none;" target="_blank" title="My Tooltip!" ng-attr-data-toggle="tooltip" ng-attr-data-position="top" tooltip />
        </map>
      </li>
      <li class="col-xs-3">
        <img src="/images/women/work-1.jpg" alt="work wear 2"/>      
      </li>
      <li class="col-xs-3">
        <img src="/images/women/work-3.jpg" alt="work wear 3"/>      
      </li>
    </ul>
  </section>
</article>